Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

Here are the students in the class:
<% @classroom.students.each to |student| %>
<li><%= render partial: 'students/student', locals: {student: @student} %><li>
<% end %>
